---
name: Terraform Validation
on: [push, workflow_dispatch]

jobs:
  tflint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:

      - name: Checkout this repository
        uses: actions/checkout@v4.1.4

      - name: Download .tflint.hcl
        uses: suisei-cn/actions-download-file@v1.4.0
        with:
          url: "https://raw.githubusercontent.com/fharper/gh-configs/main/.tflint.hcl"

      - uses: actions/cache@v3
        name: Cache plugins directory
        with:
          path: ~/.tflint.d/plugins
          key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}

      - uses: terraform-linters/setup-tflint@v3
        name: Setup TFLint
        with:
          tflint_version: v0.44.1

      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run TFLint
        run: tflint -f compact
